<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
<!-- Footer -->
<footer class="bg-dark text-white py-3">
    <div class="container text-center">
      <p>Follow me on Instagram: <a href="https://www.instagram.com/your_instagram_handle/" target="_blank" class="text-white">@your_instagram_handle</a></p>
      <p>&copy; 2023 Your Name. All rights reserved.</p>
    </div>
  </footer>